.container {
  width: 80%;
  margin: auto;
  padding: 20px;
}

.search-bar {
  width: 100%;
  margin-bottom: 20px;
}

.search-bar input[type="text"] {
  width: 90%;
  padding: 10px;
  border-radius: 5px;
  margin: 10px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-size: large;
  font-family: sans-serif;
}

.search-bar input[type="button"] {
  width: auto;
  padding: 10px 18px;
  border-radius: 5px;
  background-color: #2563eb;
  color: white;
  border: none;
  cursor: pointer;
  font-size: larger;
  font-family: sans-serif;
}

.search-bar input[type="submit"]:hover {
  opacity: 0.8;
}

.item-container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.item {
  width: 300px;
  display: flex;
  align-items: center;
  overflow: hidden;
  margin: 5px 5px;
  border: 1px solid;
  padding: 5px;
  height: 100px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  font-size: larger;
  font-family: sans-serif;
}

.item img {
  width: 100px;
  height: 100px;
  border-radius: 5px;
}

.item .title {
  align-self: normal;
  text-align: left;
  margin-left: 5px;
  overflow-x: auto;
}
