{% extends 'base.html' %}
{% block content %}

<div class="container">
    <div class="row mt-4">
        <div class="col-11">
            <input type="text" placeholder="Search..." name="search" id="text-box" class="form-control">
        </div>
        <div class="col-1">
            <input type="button" value="Search" id="search-btn" class="btn btn-primary">
        </div>
    </div>

    <div class="row row-cols-5" id="item-container">
    </div>

</div>

<script src="{{url_for('static',filename='search.js')}}"></script>
{% endblock %}